<div class="jumbotron jumbotron-fluid mt-5">
  <div class="container">
    <h1 class="display-4">Purchases</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<div class="pb-5 pt-5">
<%= link_to 'Make New Purchase', new_purchase_path, class: 'btn btn-outline-success' %> 
</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Item Name</th>
      <th scope="col">Item Description</th>
      <th scope="col">Item Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @purchases.each do |purchase| %>
    <tr>
      <td><%= purchase.item_name %></td>
      <td><%= purchase.description %></td>
      <td><%= purchase.price%></td>
      <td>
        <%= link_to 'Show', purchase_path(purchase), class: 'btn btn-sm btn-info' %> | 
        <%= link_to 'Edit', edit_purchase_path(purchase), class: 'btn btn-sm btn-primary' %> | 
        <%= link_to 'Destroy', purchase_path(purchase), class: 'btn btn-sm btn-danger',
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      
      </td>
      
    </tr>
  <% end %>
    
    
  </tbody>
</table>