<%= form_with model: @product, local: true do |form| %>
 
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :item_name %><br>
    <%= form.text_field :item_name, class: 'form-control col-md-6' %>
  </p>
 
  <p>
    <%= form.label :price %><br>
    <%= form.number_field :price, class: 'form-control col-md-6' %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description, class: 'form-control col-md-6' %>
  </p>

  <p>
  <%= form.label :is_in_stock %>
  <%= form.check_box(:is_in_stock, {}, :is_in_stock)%>
  </p>

  <p>
    <%= form.number_field :user_id, id: :product_user_id, class: 'form-control', value: current_user.id, type: :hidden %>
  </p>
 
  <p>
    <%= form.submit class: 'btn btn-success' %> | <%= link_to 'Back', products_path, class: 'btn btn-info' %>
  </p>
 
<% end %>