<div class="jumbotron mt-5">
  <h1 class="display-4"><%= @product.item_name%> - R<%= @product.price%></h1>
  <p class="lead"> <%= @product.description %> </p>
  <p> In Stock: <%= @product.is_in_stock %></p>
  <hr class="my-4">
  <%= link_to 'Back To Products', products_path, class: 'btn btn-md btn-info'%> | <%= link_to 'Edit Product', edit_product_path(@product), class:'btn btn-md btn-warning text-white'%>
</div>



